.logo{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
background: #BF181C;
padding: 10px;
}

.logo2{
    display: none;
}
@media screen and (max-width: 767px){
    .logo{
        display: none;
    }
    .logo2{
        display: block;
        position: absolute;
        width: 83px;
        height: 76px;
left: 200px;
top: 12px;

    }
}