.contact{
    width: 100%;
height: 437px;
background: #EAE6E6;
display: flex;
justify-content: center;
align-items:flex-start;
gap: 100px;
padding-top: 60px;
}

.form form{
    width: 100%;
    height: 437px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 7px;
}
.message{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 34px;
color: #BF181C;
}
[type='text'],[type='email']{
    width: 225px;
height: 33px;
background: #FFFFFF;
border: 1px solid #BF181C;
padding: 6px;
}
textarea{
    resize: none;
    width: 225px;
height: 110px;
background: #FFFFFF;
border: 1px solid #BF181C;
padding: 6px;
}
[type="submit"]{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFEFE;
padding: 15px 20px;
background-color: #BF181C;
border: 1px solid #BF181C;
}
.contactus{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap: 80px;
}
.div1{
    width: 160px;
    height: 55px;
}
.h31{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 34px;
color: #BF181C;
}
.p1{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #645F5F;
}
.div2{
    width: 160px;
    height: 55px;
}
.h32{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 34px;
color: #BF181C;
}
.ul2{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #645F5F;
}
.ul2 li> span{
color: #BF181C;
}

.links{
    height:30px;
    width: 160px;

}
.h3links{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
color: #BF181C;
}
.ullinks{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 29px;
    color: #645F5F;
}
.operation{
    width: 220px;
    height: 30px;
}
.h3op{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 38px;
color: #BF181C;
}
.ulop{
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 15px;
color: #645F5F;
}
.ulop #red{
    color: #BF181C;
}
.ulop li{
    padding: 5px 0;
}
@media screen and (max-width: 767px){
.contact{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    height: 1187.5px;
    padding: 0 20px;
    width: 100%;
    gap: 10px;
}
.form form{
    gap: 10px;
}
.message{
    font-size: 24px;
line-height: 29px;
padding-top: 25px;
}
[type="text"],[type="email"]{
    min-width: 430px;
height: 32.5px;
}
textarea{
    min-width: 430px;
}
.contactus{
    gap: 20px;
}
.div1{
    width: 100%;
}
.h31{
    font-weight: 600;
font-size: 24px;
line-height: 29px;
padding-bottom: 5px;
}
.div2{
    width: 100%;
}
.ul2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ul2 li{
    display: inline;
    padding: 1.5px 0;
}
.links{
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.ullinks li{
    padding: 1px 0;
    list-style-type: none;
    padding: 0;
}
.ullinks li a{
    padding: 0;
    margin: 0;
}
}